HELP.md
target/
bin/
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

!**/src/main/**/target/
!**/src/test/**/target/

### Archivos de entorno local
*.env
.env.*
application-local.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
